.App {
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .titleBanner {
    font-size: 17px;
  }
  #task-description {
    font-size: 9px;
    width: 2px;
  }
}

@media screen and (min-width: 480px) and (max-width: 599px) {
  .titleBanner {
    font-size: 22px;
  }
}
